.title.mini {
    position: unset !important;
    width: 98% !important;
    margin-bottom: 20px !important;
}

.image-group img {
    width: 100%;
    height: 313px;
    position: relative;
    border: none;
}

.image-group .title-image {
    position: absolute;
    width: 100%;
    height: 74px;
    background: linear-gradient(90.17deg, #200E32 0.17%, rgba(32, 14, 50, 0) 99.89%);
    opacity: 0.4;
    bottom: 0;
    line-height: 74px;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
}



.productCustomer {
    background-color:
        #f3f1eb;

}

.productCustomer .productCustomer__wrapper {
    padding: 60px 0;
    display: flex;
    gap: 16px;
}

.productCustomer__wrapper-item {
    flex: 1;
}

.productCustomer .productCustomer__wrapper .productCustomer__wrapper-item .image {
    width: 176px;
    height: 176px;
    position: relative;

}

.productCustomer .productCustomer__wrapper .productCustomer__wrapper-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.productCustomer .productCustomer__wrapper .productCustomer__wrapper-item span {
    color: #000;
    display: block;
    font-family: 'Gentium Basic';
    font-size: 24px;
    line-height: calc(40/24);
}

.productCustomer .productCustomer__wrapper .productCustomer__wrapper-item .image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.carousel-container .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    position: relative;
}


.carousel-container {
    cursor: pointer;

}

.concord-img-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .4);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, 0));
}

.carousel-container .carousel-container-item .image {
    width: 100%;
    height: 300px;
    position: relative;
}

.carousel-container .carousel-container-item .content-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    font-family: 'Gentium Book Basic';
    font-style: normal;
}

.carousel-container .carousel-container-item .content-img h1 {
    color: #fff;
    font-family: 'Gentium Book Basic';

}

.carousel-container .carousel-container-item .content-img p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 28px;

}

.carousel-container .carousel-container-item .image a,
.carousel-container .carousel-container-item .image img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    object-position: center;
}

.carousel-container .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: .5s;
    border-radius: 12px;
    border: 2px solid #dedede;
}

.carousel-container .owl-dots {
    position: absolute;
    height: 100%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.carousel-container .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.carousel-container .owl-dots .owl-dot {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 5px 0;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgb(255 255 255 / 90%);
    border-radius: 45px;
    transition: .5s;
}

.owl-dots>.owl-dot {
    border: none;
}

.owl-dots>.owl-dot {
    border: none !important;
}

.carousel-container .owl-nav {}

.carousel-container .owl-nav .owl-prev {
    position: absolute;
    left: 10px;
    top: 49%;
}

.carousel-container .owl-nav .owl-next {
    position: absolute;
    right: 10px;
    top: 49%;
}

.productlist-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    position: relative;
}

.productlist-images .images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: none;
}

.productlist-images-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: 'Gentium Book Basic';
    font-size: 20px;
    line-height: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);

}

.images {
    display: flex;
    justify-content: center;
}

.images img {
    display: block;
    width: 200px;
}